In [46]:
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.stats import bernoulli

In [2]:
df = pd.read_csv('./data/train.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Columns to generate:
- Survived
- Age
- SibSp
- Parch
- Fare
- Sex
- Pclass
- Embarked

### Generating Pclass:

In [43]:
df['Pclass'].value_counts() / len(df)

3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

We see that about 55.1% of passengers were class 3, 24.24% of passengers were class 1, and 20.65% were class 2.

### Data Generating Process for Assigning Pclass:
- Let $X\sim N(0.24, 0.05)$ and $Y\sim N(0.206, 0.05)$
- $\left \lfloor{891*X}\right \rfloor$ will be the number of passengers in Pclass1 and $\left \lfloor{891*Y}\right \rfloor$ be the number of passengers in Pclass2
- $891 - \left \lfloor{891*X}\right \rfloor - \left \lfloor{891*Y}\right \rfloor$ will be the remaining in Pclass3.

# Joint distributions?

In [59]:
num_pclass1 = math.floor(np.random.normal(0.24, 0.05) * 891)
num_pclass2 = math.floor(np.random.normal(0.206, 0.05) * 891)
num_pclass3 = 891 - num_pclass1 - num_pclass2

In [ ]:
np.zeros(20, dtype=int)
K[:10] = 1
np.random.shuffle(K)
print(K)

In [67]:
x = np.zeros(5)

In [88]:
df.loc[df['Pclass'] == 1]['Sex'].value_counts()

male      122
female     94
Name: Sex, dtype: int64

In [89]:
df.loc[df['Pclass'] == 2]['Sex'].value_counts()

male      108
female     76
Name: Sex, dtype: int64

In [90]:
df.loc[df['Pclass'] == 3]['Sex'].value_counts()

male      347
female    144
Name: Sex, dtype: int64

In [28]:
number_passengers = len(df)

In [29]:
df.groupby('Pclass').agg({'Survived': lambda x: sum(x) / len(x)})

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [34]:
df.groupby('Sex').agg({'Survived': lambda x: sum(x) / len(x)})

        Survived
Sex
female  0.742038
male    0.188908

In [ ]:
plt.plot(df)

In [26]:
bernoulli.rvs(size=5, p=0.8)

array([0, 1, 1, 0, 1])

In [4]:
df['Pclass']

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

---

In [97]:
!pip install sdv

Collecting sdv
  Downloading sdv-0.17.1-py2.py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 1.1 MB/s ta 0:00:01
Collecting ctgan<0.6,>=0.5.2
  Downloading ctgan-0.5.2-py2.py3-none-any.whl (24 kB)
Collecting sdmetrics<0.8,>=0.7.0.dev0
  Downloading sdmetrics-0.7.0-py2.py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 5.4 MB/s eta 0:00:01
Requirement already satisfied: pandas<2,>=1.1.3 in ./lib/python3.8/site-packages (from sdv) (1.4.4)
Collecting deepecho<0.4,>=0.3.0.post1
  Downloading deepecho-0.3.0.post1-py2.py3-none-any.whl (26 kB)
Collecting cloudpickle<3.0,>=2.1.0
  Downloading cloudpickle-2.2.0-py3-none-any.whl (25 kB)
Collecting rdt<1.3.0,>=1.2.0
  Downloading rdt-1.2.1-py2.py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 450 kB/s  eta 0:00:01
Collecting graphviz<1,>=0.13.2
  Downloading graphviz-0.20.1-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.1 MB/s  eta 0:00:01
Collecting copulas<0.8,>=0.7.0
  Downloading copulas-0.7.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.9 MB/s  eta 0:00:01
Collecting Faker<15,>=10
  Downloading Faker-14.2.1-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 32.4 MB/s eta 0:00:01
Requirement already satisfied: tqdm<5,>=4.15 in ./lib/python3.8/site-packages (from sdv) (4.64.1)
Requirement already satisfied: numpy<2,>=1.20.0; python_version >= "3.7" in ./lib/python3.8/site-packages (from sdv) (1.23.4)
Requirement already satisfied: packaging<22,>=20 in ./lib/python3.8/site-packages (from ctgan<0.6,>=0.5.2->sdv) (21.3)
Collecting torch<2,>=1.8.0
  Downloading torch-1.13.0-cp38-cp38-manylinux1_x86_64.whl (890.2 MB)
     |████████████████████████████████| 890.2 MB 11 kB/s s eta 0:00:012     |████████████                    | 334.7 MB 45.8 MB/s eta 0:00:13     |█████████████▎                  | 368.8 MB 39.3 MB/s eta 0:00:14     |███████████████▉                | 440.7 MB 36.8 MB/s eta 0:00:13     |████████████████▍               | 456.2 MB 36.8 MB/s eta 0:00:12     |█████████████████████▋          | 601.8 MB 140.0 MB/s eta 0:00:03     |████████████████████████████    | 777.2 MB 37.7 MB/s eta 0:00:03     |█████████████████████████████▊  | 827.3 MB 3.7 MB/s eta 0:00:17
Requirement already satisfied: scikit-learn<2,>=0.24 in ./lib/python3.8/site-packages (from ctgan<0.6,>=0.5.2->sdv) (1.1.3)
Collecting torchvision<1,>=0.9.0
  Downloading torchvision-0.14.0-cp38-cp38-manylinux1_x86_64.whl (24.3 MB)
     |████████████████████████████████| 24.3 MB 16.8 MB/s eta 0:00:01
Collecting plotly<6,>=5.10.0
  Downloading plotly-5.11.0-py2.py3-none-any.whl (15.3 MB)
     |████████████████████████████████| 15.3 MB 9.9 MB/s eta 0:00:01
Requirement already satisfied: scipy<2,>=1.5.4 in ./lib/python3.8/site-packages (from sdmetrics<0.8,>=0.7.0.dev0->sdv) (1.9.3)
Requirement already satisfied: python-dateutil>=2.8.1 in ./lib/python3.8/site-packages (from pandas<2,>=1.1.3->sdv) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./lib/python3.8/site-packages (from pandas<2,>=1.1.3->sdv) (2022.6)
Requirement already satisfied: psutil<6,>=5.7 in ./lib/python3.8/site-packages (from rdt<1.3.0,>=1.2.0->sdv) (5.9.3)
Collecting pyyaml<6,>=5.4.1
  Downloading PyYAML-5.4.1-cp38-cp38-manylinux1_x86_64.whl (662 kB)
     |████████████████████████████████| 662 kB 107.7 MB/s eta 0:00:01
Requirement already satisfied: matplotlib<4,>=3.4.0; python_version >= "3.7" in ./lib/python3.8/site-packages (from copulas<0.8,>=0.7.0->sdv) (3.5.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in ./lib/python3.8/site-packages (from packaging<22,>=20->ctgan<0.6,>=0.5.2->sdv) (3.0.9)
Collecting nvidia-cublas-cu11==11.10.3.66
  Downloading nvidia_cublas_cu11-11.10.3.66-py3-none-manylinux1_x86_64.whl (317.1 MB)
     |████████████████████████████████| 317.1 MB 104.2 MB/s eta 0:00:01     |███████████████████████████████▉| 316.0 MB 104.2 MB/s eta 0:00:01
Collecting nvidia-cuda-nvrtc-cu11==11.7.99
  Downloading nvidia_cuda_nvrtc_cu11-11.7.99-2-py3-none-manylinux1_x86_64.whl (21.0 MB)
     |████████████████████████████████| 21.0 MB 60.5 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions in ./lib/python3.8/site-packages (from torch<2,>=1.8.0->ctgan<0.6,>=0.5.2->sdv) (4.4.0)
Collecting nvidia-cuda-runtime-cu11==11.7.99
  Downloading nvidia_cuda_runtime_cu11-11.7.99-py3-none-manylinux1_x86_64.whl (849 kB)
     |████████████████████████████████| 849 kB 102.5 MB/s eta 0:00:01
Collecting nvidia-cudnn-cu11==8.5.0.96
  Downloading nvidia_cudnn_cu11-8.5.0.96-2-py3-none-manylinux1_x86_64.whl (557.1 MB)
     |████████████████████████████████| 557.1 MB 4.6 MB/s eta 0:00:0111  |▍                               | 5.8 MB 31.4 MB/s eta 0:00:18     |████████████████                | 277.1 MB 12.3 MB/s eta 0:00:23
Requirement already satisfied: threadpoolctl>=2.0.0 in ./lib/python3.8/site-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.2->sdv) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in ./lib/python3.8/site-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.2->sdv) (1.2.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in ./lib/python3.8/site-packages (from torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (9.3.0)
Requirement already satisfied: requests in ./lib/python3.8/site-packages (from torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2.28.1)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.1.0-py3-none-any.whl (23 kB)
Requirement already satisfied: six>=1.5 in ./lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas<2,>=1.1.3->sdv) (1.16.0)
Requirement already satisfied: cycler>=0.10 in ./lib/python3.8/site-packages (from matplotlib<4,>=3.4.0; python_version >= "3.7"->copulas<0.8,>=0.7.0->sdv) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in ./lib/python3.8/site-packages (from matplotlib<4,>=3.4.0; python_version >= "3.7"->copulas<0.8,>=0.7.0->sdv) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./lib/python3.8/site-packages (from matplotlib<4,>=3.4.0; python_version >= "3.7"->copulas<0.8,>=0.7.0->sdv) (1.4.4)
Requirement already satisfied: wheel in ./lib/python3.8/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch<2,>=1.8.0->ctgan<0.6,>=0.5.2->sdv) (0.37.1)
Requirement already satisfied: setuptools in ./lib/python3.8/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch<2,>=1.8.0->ctgan<0.6,>=0.5.2->sdv) (44.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./lib/python3.8/site-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in ./lib/python3.8/site-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in ./lib/python3.8/site-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in ./lib/python3.8/site-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (3.4)
ERROR: rdt 1.2.1 has requirement scipy<1.8,>=1.5.4, but you'll have scipy 1.9.3 which is incompatible.
Installing collected packages: nvidia-cublas-cu11, nvidia-cuda-nvrtc-cu11, nvidia-cuda-runtime-cu11, nvidia-cudnn-cu11, torch, pyyaml, Faker, rdt, torchvision, ctgan, tenacity, plotly, copulas, sdmetrics, deepecho, cloudpickle, graphviz, sdv
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 6.0
    Uninstalling PyYAML-6.0:
      Successfully uninstalled PyYAML-6.0
Successfully installed Faker-14.2.1 cloudpickle-2.2.0 copulas-0.7.0 ctgan-0.5.2 deepecho-0.3.0.post1 graphviz-0.20.1 nvidia-cublas-cu11-11.10.3.66 nvidia-cuda-nvrtc-cu11-11.7.99 nvidia-cuda-runtime-cu11-11.7.99 nvidia-cudnn-cu11-8.5.0.96 plotly-5.11.0 pyyaml-5.4.1 rdt-1.2.1 sdmetrics-0.7.0 sdv-0.17.1 tenacity-8.1.0 torch-1.13.0 torchvision-0.14.0

In [98]:
from sdv import SDV

ModuleNotFoundError: No module named 'sdv'

In [ ]:
sdv = SDV()

sdv.fit(metadata, tables)